In [2]:
# IMPORTS REQUIRED LIBRARIES
# Imports sqlalchemy for sql access
from sqlalchemy.engine import create_engine
#Imports pandas, numpy for data manipulation
import pandas as pd
import numpy as np
from collections import defaultdict

In [3]:
# ACCESSES MYSQL DATABASE
%load_ext sql
%sql mysql://root:testing@localhost/zovid

In [4]:
# TESTS DATABASE CONNECTION
%sql SELECT max(audiences.row_Number), max(audiences.seat_Number) from audiences;

 * mysql://root:***@localhost/zovid
1 rows affected.

[(64, 64)]

In [5]:
%%sql
# CALCULATES EXPOSURE TIME COL IN AUDIENCES TABLE IN DATABASE

# Adds variable exposure_time
ALTER TABLE audiences
ADD exposure_time float;

# Uses equation: exposure_time = floor(.06 * fitness_score)
UPDATE audiences
SET exposure_time = FLOOR(score * .06);

 * mysql://root:***@localhost/zovid
0 rows affected.
17103 rows affected.

[]

In [6]:
# CALCULATES MAX_ROW, MAX_SEAT IN ALL AUDITORIUMS

# Calculates max_row of all auditoriums, converts it to int
max_row = %sql select max(audiences.row_Number) from audiences;
max_row = max_row.DataFrame()
max_row = max_row.iloc[0][0]
# Calculates max_seat of all auditoriums, converts it to int
max_seat = %sql select max(audiences.seat_Number) from audiences;
max_seat = max_seat.DataFrame()
max_seat = max_seat.iloc[0][0]

 * mysql://root:***@localhost/zovid
1 rows affected.
 * mysql://root:***@localhost/zovid
1 rows affected.

In [7]:
# CREATES CLASS SEAT; OBJECTS OF SEAT IN EACH AUDITORIUM 2D ARRAY
class Seat:
    def __init__(self):
        self.is_occupied = False
        self.is_exposed = True
        self.current_exposure_time = 0
        self.required_exposure_time = 0
        self.time_infected = 0

In [18]:
# CREATES DICT OF AUDITORIUMS, AND 2D ARRAY IN EACH AUDITORIUM FILLED WITH SEAT OBJECTS

# Creates dict of 6 auditoriums
num_aud = 6
auds = {}
# Dict of infected people (each item is a list of tuples, item1 = aud_1, item2 = aud_2, etc.)
infected = defaultdict(set)

# Each auditorium is of size (rows = max_seat_#, cols = max_row_#), each value is initialized to 0
for i in range(num_aud):
    auds[i] = np.empty((max_seat, max_row), dtype = object)
    
    for x in range(max_seat):
        for y in range(max_row):
            auds[i][x, y] = Seat()

In [19]:
# CREATES DF FROM TABLE AUDIENCES

# Gets the audience table and converts it to a pd.df()
aud_df = %sql SELECT * from audiences
aud_df = aud_df.DataFrame().sort_values("auditorium_Number")
# Drops unneeded columns
#aud_df.drop(["Name", "id_Number"], axis=1)

 * mysql://root:***@localhost/zovid
17103 rows affected.

In [20]:
# UPDATES ALL SEATS ORIGINALLY: SETS OCCUPIED SEATS AS OCCUPIED, 
# UPDATES THOSE SEATS' IS_EXPOSED VARIABLE AND REQUIRED_EXPOSURE_TIME VARIABLE

# Iterates through audience dataframe rows
for i in range(len(aud_df.index)):
    # Calculates audience_num, seat_num, row_num
    # Decrements them to account for indexes (0:5 = 6 auditoriums, etc.)
    curr_aud_num = aud_df.iloc[i]["auditorium_Number"] - 1
    curr_seat_num = aud_df.iloc[i]["seat_Number"] - 1
    curr_row_num = aud_df.iloc[i]["row_Number"] - 1
    
    # Sets seat to occupied
    auds[curr_aud_num][curr_seat_num, curr_row_num].is_occupied = True
    
    # Checks if person has virus
    curr_is_exposed = (aud_df.iloc[i].test_result == "True")
    
    # Set seat.is_exposed to True/False
    auds[curr_aud_num][curr_seat_num, curr_row_num].is_exposed = curr_is_exposed
    
    # Adds to infected set if person is infected
    if curr_is_exposed == True:
        infected[curr_aud_num].add((curr_seat_num, curr_row_num))
    
    else:
        # Calculates required exposure time for everyone
        auds[curr_aud_num][curr_seat_num, curr_row_num].required_exposure_time = aud_df.iloc[i].exposure_time

In [21]:
# Iterates through all auditoriums
for key in infected.keys():
    # Amount of time since virus started spreading in a specific auditorium
    curr_time = 0

    # new_infection checks that someone has been infected
    new_infection = True
    while(new_infection):
        
        # Increments amount of time exposure started, sets new_infection to false
        curr_time += 1
        new_infection = False
        # Set of people whose exposure_time will be incremented
        to_increment = set()
        
        # Increments exposure_time for people adjacent to the infected
        for seat_num, row_num in infected[key]:
            # If statements check if it is in index
            # If it is, add them to to_increment set
            if (seat_num - 1) >= 0:
                to_increment.add((seat_num - 1, row_num))
            if (seat_num + 1) < max_seat:
                to_increment.add((seat_num + 1, row_num))
            if (row_num - 1) >= 0:
                to_increment.add((seat_num, row_num - 1))
            if (row_num + 1) < max_row:
                to_increment.add((seat_num, row_num + 1))
                
        
        # Increments through all adjacent seats
        for curr_exposed_seat_num, curr_exposed_row_num in to_increment:

            # If seat is occupied and is not currently infected
            if (auds[key][curr_exposed_seat_num, curr_exposed_row_num].is_occupied) and (not auds[key][curr_exposed_seat_num, curr_exposed_row_num].is_exposed):
                # Someone can get infected
                new_infection = True
                # Increments exposure time
                auds[key][curr_exposed_seat_num, curr_exposed_row_num].current_exposure_time += 1
                
                # Checks if they are now infected; if they are, add them to infected[key] list
                if auds[key][curr_exposed_seat_num, curr_exposed_row_num].current_exposure_time >= auds[key][curr_exposed_seat_num, curr_exposed_row_num].required_exposure_time:
                    auds[key][curr_exposed_seat_num, curr_exposed_row_num].is_exposed = True
                    auds[key][curr_exposed_seat_num, curr_exposed_row_num].time_infected = curr_time
                    infected[key].add((curr_exposed_seat_num, curr_exposed_row_num))
        
    
    if len(aud_df.loc[aud_df["auditorium_Number"] == key]) == len(infected[key]):
        print("Could infect all. took time: ", curr_time - 1)
    
    else:
        print("FAILED TO INFECT ALL. LAST INFECTED TIME: ", curr_time - 1)

FAILED TO INFECT ALL. LAST INFECTED TIME:  40
FAILED TO INFECT ALL. LAST INFECTED TIME:  70
FAILED TO INFECT ALL. LAST INFECTED TIME:  34
FAILED TO INFECT ALL. LAST INFECTED TIME:  33
FAILED TO INFECT ALL. LAST INFECTED TIME:  38
FAILED TO INFECT ALL. LAST INFECTED TIME:  54

In [12]:
# Initializes alert_info dataframe
alert_info = pd.DataFrame(columns = ["Name", "id_Number", "ExposureTime"])

In [13]:
# ADDS ALL PEOPLE WHO GET INFECTED TO ALERT_INFO DF

# Iterates through audience dataframe rows
for i in range(len(aud_df.index)):
    # Calculates audience_num, seat_num, row_num
    curr_aud_num = aud_df.iloc[i]["auditorium_Number"] - 1
    curr_seat_num = aud_df.iloc[i]["seat_Number"] - 1
    curr_row_num = aud_df.iloc[i]["row_Number"] - 1
    # Creates dict of needed variables, converts to df
    temp_data = {}
    temp_data = {"Name": [aud_df.iloc[i].Name], "id_Number": [aud_df.iloc[i].id_Number], "ExposureTime": [auds[curr_aud_num][curr_seat_num, curr_row_num].time_infected]}
    temp_df = pd.DataFrame(data = temp_data)

    # If the seat is occupied and person can get infected at the theater,
    # appends data with alert_info
    if auds[curr_aud_num][curr_seat_num, curr_row_num].current_exposure_time == auds[curr_aud_num][curr_seat_num, curr_row_num].required_exposure_time and aud_df.iloc[i].test_result != "True":
        alert_info = alert_info.append(temp_df, ignore_index = True)

In [14]:
alert_info#.sort_values("Name", ascending = True).head(20)

                    Name          id_Number ExposureTime
0       Kathy Buffington  27390201409206489            4
1       Ella Christopher  92244197008044884           18
2          Sallie Larsen  90840195310049090           13
3      Ruth Stringfellow  92623199707268309            8
4            Ruth Marmon  10478194203269352           10
...                  ...                ...          ...
15940     Javier Dobbins  32816198103318934            9
15941         Jay Harris  43850201603302216           24
15942      Tammy Stevens  89669197008024224            9
15943       Fred Swanson  27330195008189218           25
15944      Janie Manning  54293197606265288           13

[15945 rows x 3 columns]

In [15]:
# Sets index of id_Number
alert_info = alert_info.set_index("id_Number")

In [16]:
# Exports df as csv
alert_info = alert_info.sort_values("ExposureTime", ascending = False)
alert_info.to_csv("alert_info.csv")

In [17]:
alert_info

                               Name ExposureTime
id_Number
66053200803043147   Shiela Cardello           70
55887198004123682  Douglas Snelling           70
56248201204289956         Rosa Fite           70
73408199201225701    Charles Pigeon           67
46712201208108443      Mark Morales           67
...                             ...          ...
87163193004201477  Melvin Kobayashi            2
39862194209173962       Scott Galbo            2
58692194712107670      Joaquin Reed            2
37116193309082648       Reba Boland            2
56008195504225380       Todd Howard            2

[15945 rows x 2 columns]